@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');
/* shered style */
* {
    font-family: 'Mulish', sans-serif;
}
header,main {
    max-width: 1000px;
    margin: 0 auto;
}
.common-color {
    color: rgba(19, 19, 24, 0.70);
}
.common-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1.10rem;
    font-weight: 800;
    border: 0;
    padding: 10px 25px;
}
.common-font {
    color: #FF5400;
}

/* nav start */
nav {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

.nav-left {
    display: flex;
    gap: 8px;
}
.nav-left img{
    width: 60px;
    height: 50px;
}

.nav-left h3 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    margin: 0;
}

.nav-right li {
    list-style: none;
    display: inline;
    margin-right: 30px;
}

.nav-right a {
    text-decoration: none;
    color: #424247;
    font-weight: 700;
}
.nav-right a:hover{
    color: #FF5400;
}
/* banner section start */


/* our popular tours start  */
.popular {
    display: flex;
    gap: 30px;
}

.popular-title {
    color: #131318;
    font-size: 2.50rem;
    font-weight: 800;
}









/* responsive with mobile device */
@media screen and (max-width:600px) {
    nav,
    .popular 
    {
        flex-direction: column;
    }
}